/* Define any root variables in here */
:root {
    --primaryColor:red;
    --secondaryColor:darkblue;
    --shadowBorderColor: black;
    --primaryFont: Georgia, 'Times New Roman', Times, serif;
}

/* This media query will apply to any device */
@media all {
    nav, ul, p, th, td, input {
        font-family: var(--primaryFont);
    }
    /* Define properties for the highlight class in all pages */
    .highlight nav {
        background-color: lightslategray;
        padding-top: 10px;
        padding-right: 8px;
        padding-bottom: 7px;
        /* Need the following two lines to keep the nav menu background color
        the same size as the width of the menu items */
        display: inline;
        float: inline-start;
    }
    .highlight a {
        color: var(--secondaryColor);
        background-color: yellowgreen;
        font-family: cursive;
    }
    /* Define hover effects for various tags */
    a:hover {
        background-color: magenta;
    }
    .highlight a:hover {
        font-size: 120%;
    }
    a:active {
        background-color: white;
    }
    img:hover, video:hover, iframe:hover {
        background-color: white;
    }
    body {
        background-color: lightblue;
    }
    nav {
        padding-left: 7px;
        padding-top: 5px;
    }
    h1 {
        color: var(--primaryColor);
        text-shadow: -1px -1px var(--shadowBorderColor);
        font-size: 3rem;
        padding-left: 5px;
    }
    /* Not styling <li> tags as everything is done within the <ul> tags */
    ul {
        list-style: circle;
        font-style: italic;
    }
    p {
        padding: 5px;
        /* I feel this improves readibility */
        letter-spacing: .3px;
        line-height: 22px;
        text-indent: 20px;
    }
    table {
        padding: 20px;
        border: 3px var(--primaryColor) dashed;
        /* Give our table rounded as opposed to jagged corners */
        border-radius: 10px;
        margin-left: 20px;
    }
    img {
        border: 2px var(--shadowBorderColor) solid;
        border-radius: 10px;
        padding: 5px;
        background-color: var(--primaryColor);
        margin-bottom: 5px;
    }
    video {
        padding: 5px;
        border: 3px var(--shadowBorderColor) solid;
        border-radius: 10px;
        background-color: var(--secondaryColor);
        margin-left: 10px;
        margin-bottom: 5px;
    }
    iframe {
        padding: 5px;
        border: 3px var(--shadowBorderColor) solid;
        border-radius: 10px;
        background-color: var(--secondaryColor);
        margin-bottom: 5px;
    }
    th {
        border-bottom: 1px var(--shadowBorderColor) solid;
    }
    td {
        font-style: oblique;
    }
    /* Style the json results Header */
    .jsonHeader {
        color: var(--secondaryColor);
        text-shadow: -1px -1px var(--shadowBorderColor);
        font-size: 3rem;
        padding-left: 5px;
        text-indent: 20px;
    }
    /* Style our submit button */
    .submit input {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--primaryColor);
        background-color: var(--secondaryColor);
        border: 3px var(--shadowBorderColor) solid;
        border-radius: 10px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Add hover functionality to the submit button */
    .submit input:hover {
        background-color: white;
    }
    /* Give some signal that the user clicked submit */
    .submit input:active {
        background-color: lightgreen;
    }
    /* Give radio buttons and checkboxes a big left margin, and space them a little */
    .radioCheckboxes input {
        margin-left: 100px;
        margin-top: 5px;
    }
    input[type=radio]:hover {
        box-shadow:0px 0px 5px var(--primaryColor);
    }
    /* .json {
        color: var(--secondaryColor);
        font-weight: bold;
    } */

}

/* This media query will apply to screens with maximum width of 870px  */
@media screen and (max-width: 870px) {
    /* Decrease paragraph, list, and table header and and content font sizes on even smaller screens */
    p, ul, th, td {
        font-size: small;
    }
    /* This is to avoid header from wrapping on smaller screens */
    h1 {
        font-size: xx-large;
    }
    /* On small devices, decrease size of images and videos */
    img, video {
        width: 95%;
        height: 95%;
    }
    iframe {
        width: 95%;
    }

}

/* This media query will apply to screens with minimum width 870px and max 1080px */
@media screen and (min-width: 870px) and (max-width: 1080px) {
    /* Decrease paragraph, list, and table header and and content font sizes on smaller screens */
    p, ul, th, td {
        font-size: medium;
    }

}

/* This media query will apply to screens with minimum width 1080px */
@media screen and (min-width: 1080px) {
    /* This is sort of the default font sizes for any screen over 1080px wide */
    p, ul, th, td {
        font-size: large;
    }

}

/* If screen size is larger than 870px, wrap text around images */
@media screen and (min-width: 870px) {
    img {
        float: right;
        margin-left: 10px;
        margin-right: 50px;
    }
}

/* Creating an extra media query for the youtube embedded video.
This will prevent too much text wrapping on band.html */
@media screen and (min-width: 1500px) {
    iframe {
        float: right;
        margin-left: 10px;
        margin-right: 50px;
    }
}

/* Need to adjust size of Navigational menu as screen size decreases */
@media screen and (min-width: 620px) and (max-width: 710px) {
    .highlight a {
        font-size: 80%;
    }
    .highlight a:hover {
        font-size: 90%;
    }
}

@media screen and (max-width: 620px) {
    .highlight a {
        font-size: 60%;
    }
    .highlight a:hover {
        font-size: 70%;
    }
}

/* Media queries for Gallery screen */
@media screen and (min-width: 1285px) {
    .gallery img {
        float: left;
        margin-left: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1285px) {
    .gallery img {
        width: 40%;
        height: 40%;
        float: inherit;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 725px) and (max-width: 1200px) {
    .gallery p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 850px) {
    .gallery img {
        width: 80%;
        height: 80%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
/* Media query for embedded resume on Resume page */
@media screen and (max-width: 900px) {
    embed {
        width: 100%;
        float: left;
    }
}

/* Media queries for a few pictures on Aircraft page */
@media screen and (min-width: 870px) {
    .airplaneBeforeUpgrade img {
        width: 40%;
        height: 40%;
        margin-bottom: 10px;
        float: left;
    }
    .airplaneAfterUpgrade img {
        width: 80%;
        height: 50vw;
        margin-bottom: 10px;
        float: left;
    }
}

@media screen and (max-width: 870px) {
    .airplaneBeforeUpgrade img, .airplaneAfterUpgrade img {
        width: 80%;
        height: 60%;
        margin-bottom: 10px;
        float: left;
    }
}

/* Media queries for Cats page */
@media screen and (min-width: 1310px) {
    .cats img {
        width: 40%;
        height: 40%;
        margin-bottom: 10px;
        margin-right: 450px;
    }
    .cats p {
        max-width: 40rem;
        line-height: 30px;
    }
    /* I need to make the picture of my cat Tiggy smaller */
    .Tiggy img {
        width: 30%;
        height: 30%;
        margin-bottom: 10px;
        margin-right: 600px;
    }
}
@media screen and (min-width: 1000px) {
    /* Align description of each cat with their image */
    .Tiggy, .Baby, .Schnitzel {
        float: right;
    }
}

@media screen and (min-width: 1380px) and (max-width: 1450px) {
    .cats p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1310px) and (max-width: 1380px) {
    .cats p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1310px) {
    .cats img {
        width: 50%;
        height: 40%;
        margin-bottom: 10px;
        float: right;
    }
    .cats p {
        max-width: 40rem;
        line-height: 45px;
    }
}

@media screen and (max-width: 1000px) {
    .cats img {
        width: 90%;
        height: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .cats p {
        max-width: 55rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
    .cats p {
        line-height: 40px;
    }
}

@media screen and (max-width: 850px) {
    .cats p {
        font-size: 1rem;
        line-height: 25px;
    }
}

/* Styling for Knowledge Test */
@media screen and (max-width: 575px) {
    .jsonHeader {
        font-size: xx-large;
    }
    .submit input {
        font-size: medium;
        margin-left: .1rem;
    }

}

@media screen and (min-width: 575px) and (max-width: 650px) {
    /* We want the submit button to generally be in the center of all content */
    .submit input {
        margin-left: 10rem;
    }

}

@media screen and (min-width: 650px) {
    /* We want the submit button to generally be in the center of all content */
    .submit input {
        margin-left: 13rem;
    }

}

/* Creating separate media queries for JSON data so it does not wrap. Will allow a little wrap as we get very small */
@media screen and (min-width: 725px) and (max-width: 800px) {
    .json p {
        font-size: medium;
    }
}
@media screen and (min-width: 650px) and (max-width: 725px) {
    .json p {
        font-size: small;
    }
}
@media screen and (min-width: 600px) and (max-width: 650px) {
    .json p {
        font-size: small;
    }
}
@media screen and (max-width: 600px) {
    .json p {
        font-size: .75rem;
    }
}

/* Media queries for Knowledge Test screen */
@media screen and (max-width: 575px) {
    /* Center text with radio buttons and checkboxes  */
    .radioCheckboxes input {
        vertical-align: -2.5px;
    }

}
@media screen and (min-width: 575px) and (max-width: 650px) {
    /* Center text with radio buttons and checkboxes  */
    .radioCheckboxes input {
        vertical-align: -1.75px;
    }

}
/* This media query will apply to screens with minimum width 650px */
@media screen and (min-width: 650px) {
    /* Center text with radio buttons and checkboxes */
    .radioCheckboxes input {
        vertical-align: -1px;
    }

}