/* Define any root variables in here */
:root {
    --primaryColor:red;
    --secondaryColor:darkblue;
    --shadowBorderColor: black;
    --primaryFont: Georgia, 'Times New Roman', Times, serif;
}

/* This media query will apply to any device */
@media all {
    p, input {
        font-family: var(--primaryFont);
    }
    body {
        background-color: lightblue;
    }
    h1 {
        color: var(--primaryColor);
        text-shadow: -1px -1px var(--shadowBorderColor);
        font-size: 3rem;
        padding-left: 5px;
    }
    p {
        padding: 5px;
        /* I feel this improves readibility */
        letter-spacing: .3px;
        line-height: 22px;
        text-indent: 20px;
    }
    .radioCheckboxes input {
        margin-left: 100px;
        /* I feel this improves readibility */
        letter-spacing: 10px;
        text-indent: 20px;
        vertical-align: -1.5px;
    }
    /* Style our submit button */
    .submit input {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--primaryColor);
        background-color: var(--secondaryColor);
        border: 3px var(--shadowBorderColor) solid;
        border-radius: 10px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Add hover functionality to the submit button */
    .submit input:hover {
        background-color: white;
    }
    /* Give some signal that the user clicked submit */
    .submit input:active {
        background-color: lightgreen;
    }
    /* Style where we define what the red asterisk means */
    .asterisk p {
        font-style: italic;
        color: var(--primaryColor)
    }
    /* If input is invalid, wrap text box in red */
    /* input:invalid {
        border: solid red 2px;
    } */

}

/* This media query will apply to screens with maximum width of 870px  */
@media screen and (max-width: 870px) {
    /* Decrease paragraph, list, and table header and and content font sizes on even smaller screens */
    p, ul, th, td {
        font-size: small;
    }
    /* This is to avoid header from wrapping on smaller screens */
    h1 {
        font-size: xx-large;
    }
    /* On small devices, decrease size of images and videos */
    img, video {
        width: 95%;
        height: 95%;
    }
    iframe {
        width: 95%;
    }
    .submit input {
        font-size: medium;
    }

}

/* This media query will apply to screens with minimum width 870px and max 1080px */
@media screen and (min-width: 870px) and (max-width: 1080px) {
    /* Decrease paragraph, list, and table header and and content font sizes on smaller screens */
    p, ul, th, td {
        font-size: medium;
    }

}

/* This media query will apply to screens with minimum width 1080px */
@media screen and (min-width: 1080px) {
    /* This is sort of the default font sizes for any screen over 1080px wide */
    p, ul, th, td {
        font-size: large;
    }

}

/* If screen size is larger than 870px, wrap text around images */
@media screen and (min-width: 870px) {
    img {
        float: right;
        margin-left: 10px;
        margin-right: 50px;
    }
}

/* Creating an extra media query for the youtube embedded video.
This will prevent too much text wrapping on band.html */
@media screen and (min-width: 1500px) {
    iframe {
        float: right;
        margin-left: 10px;
        margin-right: 50px;
    }
}