/* Define any root variables in here */
:root {
    --primaryColor:red;
    --secondaryColor:darkblue;
    --shadowBorderColor: black;
    --primaryFont: Georgia, 'Times New Roman', Times, serif;
}

/* This media query will apply to any device */
@media all {
    nav, ul, p, th, td {
        font-family: var(--primaryFont);
    }
    /* Define properties for the highlight class in all pages */
    .highlight nav {
        background-color: lightslategray;
        padding-top: 10px;
        padding-right: 8px;
        padding-bottom: 7px;
        /* Need the following two lines to keep the nav menu background color
        the same size as the width of the menu items */
        display: inline;
        float: inline-start;
    }
    .highlight a {
        color: var(--secondaryColor);
        background-color: yellowgreen;
        font-family: cursive;
    }
    /* Define hover effects for various tags */
    a:hover {
        background-color: magenta;
    }
    .highlight a:hover {
        font-size: 120%;
    }
    a:active {
        background-color: white;
    }
    img:hover, video:hover, iframe:hover {
        background-color: white;
    }
    body {
      background-color: lightblue;
    }
    nav {
        padding-left: 7px;
        padding-top: 5px;
    }
    h1 {
        color: var(--primaryColor);
        text-shadow: -1px -1px var(--shadowBorderColor);
        font-size: 3rem;
        padding-left: 5px;
    }
    /* Not styling <li> tags as everything is done within the <ul> tags */
    ul {
        list-style: circle;
        font-style: italic;
    }
    p {
        padding: 5px;
        /* I feel this improves readibility */
        letter-spacing: .3px;
        line-height: 22px;
        text-indent: 20px;
    }
    table {
        padding: 20px;
        border: 3px var(--primaryColor) dashed;
        /* Give our table rounded as opposed to jagged corners */
        border-radius: 10px;
        margin-left: 20px;
    }
    img {
        border: 2px var(--shadowBorderColor) solid;
        border-radius: 10px;
        padding: 5px;
        background-color: var(--primaryColor);
        margin-bottom: 10px;
        float: left;
        margin-left: 10px;
        margin-right: 5px;
    }

}

@media screen and (max-width: 750px) {
    /* Decrease paragraph, list, and table header and and content font sizes on even smaller screens */
    p {
        font-size: small;
    }
    /* This is to avoid header from wrapping on smaller screens */
    h1 {
        font-size: xx-large;
    }

}

@media screen and (min-width: 750px) and (max-width: 1270px) {
    /* Decrease paragraph, list, and table header and and content font sizes on smaller screens */
    p {
        font-size: medium;
    }

}

@media screen and (min-width: 1270px) {
    /* This is sort of the default font sizes for any screen over 1080px wide */
    p {
        font-size: large;
    }

}

@media screen and (min-width: 620px) and (max-width: 1220px) {
    img {
        width: 45%;
        height: 45%;
    }
}

@media screen and (max-width: 620px) {
    img {
        width: 42%;
        height: 42%;
    }
}